<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile />
      <b-link class="navbar-brand" to="/">
        <img class="navbar-brand-full" :src="getLogoImg(1)" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" :src="getLogoImg(2)" width="30" height="30" alt="CoreUI Logo">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg" />
      <div class="mr-2">Welcome, {{userFName}}
        <b-button @click="logoutModal = !logoutModal" class="mx-2" variant="danger">Logout</b-button>
        <b-modal v-model="logoutModal"
                title="Logout"
                ok-title="Yes"
                cancel-title="No"
                @ok="logout">
        Are you sure to logout from the system?</b-modal>
      </div>
    </AppHeader>
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside/>
      </AppAside>
    </div>
    <!--
    <TheFooter>
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span class="ml-1">&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="https://coreui.io">CoreUI for Vue</a>
      </div>
    </TheFooter>//-->
    <TheFooter>
      <!--footer-->
      <div>
        <a href="/dashboard">OSCCP</a>
        <span class="ml-1">&copy; 2019 Opensource Cloud Computing Platform</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="/dashboard">Business Intelligence Platform for Big Data</a>
      </div>
    </TheFooter>
  </div>
</template>

<script>
import nav from '@/_nav'
import { Header as AppHeader, SidebarToggler, Sidebar as AppSidebar, SidebarFooter, SidebarForm, SidebarHeader, SidebarMinimizer, SidebarNav, Aside as AppAside, AsideToggler, Footer as TheFooter, Breadcrumb } from '@coreui/vue'
import DefaultAside from './DefaultAside'
import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'

export default {
  name: 'DefaultContainer',
  components: {
    AsideToggler,
    AppHeader,
    AppSidebar,
    AppAside,
    TheFooter,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdownAccnt,
    SidebarForm,
    SidebarFooter,
    SidebarToggler,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer
  },
  data () {
    return {
      nav: nav.items,
      userFName : localStorage.getItem('userFName'),
      logoutModal: false
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched.filter((route) => route.name || route.meta.label )
    }
  },
  methods: {
    logout(evt)
    {
      localStorage.removeItem('token')
      localStorage.removeItem('userID')
      localStorage.removeItem('userFName')
      console.log('Now log out')
      this.$router.replace('/pages/login')
    },
    getLogoImg(icon) {
        if (icon==1) {
          return require("../../public/img/logo.png")
        }
        else {
          return require("../../public/img/logo-symbol.png")
        }
    }
  }
}
</script>
