<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-primary">
          <b-card-body class="pb-0">
            <h3>Submitted</h3>
            <h1 class="display-2 text-center">{{numSubmitted}}</h1>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-warning">
          <b-card-body class="pb-0">
            <h3>Pending</h3>
            <h1 class="display-2 text-center">{{numPending}}</h1>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-danger">
          <b-card-body class="pb-0">
            <h3>Failed</h3>
            <h1 class="display-2 text-center">{{numFailed}}</h1>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-success">
          <b-card-body class="pb-0">
            <h3>Succeeded</h3>
            <h1 class="display-2 text-center">{{numSucceeded}}</h1>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
//import {globalStore} from '../main.js'

import { Callout } from '@coreui/vue'

export default {
  name: 'dashboard',
  data: function () {
    return {
      temp: [],
      numSubmitted: '0',
      numPending: '0',
      numFailed: '0',
      numSucceeded: '0',
      }
  },
  created () {
  // fetch the data when the view is created and the data is
  // already being observed
  this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
    fetchData() {
    const token = "Bearer " + localStorage.getItem("token")
    axios.get(this.BaseURL+ '/', {
      params: {
        userid: localStorage.getItem('userID')
      },
      headers: {
          'Authorization': token
        }
    })
    .then(response => {
      console.log(response.data.content)
      this.temp = response.data.content
      this.assignNum(this.temp)
    })
    .catch(error => {
      console.log('error: ' + error)
    }) 
    },
    assignNum(temp) {
      for (var i = 0; i < temp.length; i++) {
          switch(temp[i].status) {
            case 0:
                this.numSucceeded = temp[i].COUNT
              break;
            case 1:
                this.numPending = temp[i].COUNT
              break;
            case 2:
                this.numFailed = temp[i].COUNT
              break;
          }
      }
      this.numSubmitted = parseInt(this.numPending) + parseInt(this.numFailed) + parseInt(this.numSucceeded)

    }
  }
}
</script>
