<template>
  <div class="animated fadeIn">
    <div v-if="isLoading">Loading...</div>
    <b-row v-if="!isLoading">
      <b-col sm="12">
        <b-card>
          <div slot="header">
            <strong>Detail for Request ID #{{reqID}}</strong>
          </div>
          <b-row>
            <!--Right Sidebar-->
            <b-col sm="4">
              <b-card>
                <div slot="header">
                  <strong>Request Information</strong>
                </div>
                <strong>Name</strong><br>
                {{reqName}}<br><br>
                <strong>Submitted Date</strong><br>
                {{submittedDate}}<br><br>
                <strong>Finished Date</strong><br>
                {{isFinished(finishedDate)}}<br><br>
                <strong>Status</strong><br><br>
                <b-button :variant="getStatusBadge(status)" size="lg">{{getStatus(status)}}</b-button><br><br>
              </b-card>

            </b-col>
            <b-col sm="8">
              <b-card>
                <div slot="header">
                  <strong>Output File</strong>
                </div>
                <div v-if="fileList == null">
                    There is no output file
                </div>
                  <b-row>
                    <!--:href="BaseURL + '/outputs?filename=' + file.filename"-->
                    <b-col sm="3" v-for="file in fileList" class="m-1 p-2 text-center">
                      <a :href="BaseURL + '/outputs?filename=' + file.filename +
                      '&userid=' + userID + '&reqID=' + reqID + '&token=' + bearerToken" style="text-decoration: none">
                        <div>
                          <img :src="getFileIcon(file.filename)" width="50px" class="md-auto"><br><h5>{{file.filename}}</h5>
                        </div>
                      </a>
                    </b-col>
                  </b-row>
              </b-card>
            </b-col>
          </b-row>
        </b-card>
        <b-card>
          <div slot="header">
            <strong>Output from console</strong><br>
            (Show only first 500 characters, You will need to download output file above in case to see all the output from console)
          </div>
            <div>
              <pre style="font-family:monospace;font-size: 1.5em;" class="text-white bg-dark p-4">{{outputConsole}}</pre>
            </div>
        </b-card>
      </b-col>

    </b-row>

  </div>
</template>

<script>
import axios from 'axios'
//import BarExample from './charts/BarExample'


export default {
  name: 'detail',
  data () {
    return {
      isLoading: true,
      reqID:'',
      reqName:'',
      submittedDate:'',
      finishedDate:'',
      status:'',
      fileList:[],
      bearerToken:'',
      userID:'',
      outputConsole: ''
    }
  },
    created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
    this.bearerToken = 'Bearer '+ localStorage.getItem('token')
    this.userID = localStorage.getItem('userID')
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
    fetchData() {
    const token = "Bearer " + localStorage.getItem("token")
    axios.get(this.BaseURL+ '/requests', {
    params: {
      reqid: this.$route.params.reqid,
      userid: localStorage.getItem('userID')
    },
    headers:
        {
          'Authorization': token
        }
  })
  .then(response => {
      console.log(this.$route.params.reqid)
      console.log(response.data[0])
      this.reqID = response.data[0].requestID
      this.reqName = response.data[0].name
      this.submittedDate = response.data[0].submittedDate
      this.finishedDate = response.data[0].finishedDate
      this.status = response.data[0].status
      this.fileList = JSON.parse(response.data[0].result)
      this.isLoading = false
      this.outputConsole = response.data[0].outputConsole
      
  })
  .catch(error => {
    alert(error + this.getSysErrorMsg())
    console.log(error)
  })  
  },
  /*downloadFile(filename) {
  alert(filename)
  const token = "Bearer " + localStorage.getItem("token")
  axios.get(this.BaseURL+ '/outputs', {
    params: {
      filename: filename,
      userid: localStorage.getItem('userID')
    },
    headers:
        {
          'Authorization': token
        }
  })
  .then(response => {
    console.log(response.data)
    //window.open(response.data.url, '_blank')
  })
  .catch(error => {
    alert(error + this.getSysErrorMsg())
    console.log(error)
  })
  },*/
  getFileIcon(filename) {
    var fileExt = filename.split(".")[1].toLowerCase()
    if(fileExt == "json") {
        return require("../assets/json_icon.png")
    }
    else if(fileExt == "csv") {
        return require("../assets/csv_icon.png")
    }
    else if(fileExt == "txt") {
        return require("../assets/txt_icon.png")
    }
    else {
        return require("../assets/file_icon.png")
    }
  }
}
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
