<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <div class="text-center">
                  <img src="../../public/img/logo.png">
                </div>
                <b-form>
                  <h1>Login</h1>
                  <b-modal 
                    title="Forget Password"
                    size="sm" v-model="forgetPwdModal"
                    @ok="forgetPassword">
                  <b-form-input type="text" placeholder="Please Enter Username" v-model="forgetUsername" class="my-2"></b-form-input>
                  <b-form-input type="email" placeholder="Please Enter E-mail" v-model="forgetEmail" class="my-2"></b-form-input>
                  </b-modal>
                  <b-modal 
                    :title="forgetResultModalTitle"
                    size="sm" v-model="forgetResultModal"
                    @ok="forgetResultModal = false" ok-only>
                    {{forgetResult}}
                  </b-modal>
                  <p class="text-muted">Sign In to your account</p>
                  <b-alert show v-if="isWrong" variant="danger">Username or Password is incorrect, Please Try again</b-alert>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" placeholder="Username" v-model="username" required />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" placeholder="Password" v-model="password" required />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" class="px-4" @click.prevent="login">Login</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button to="/pages/register" class="px-0 mx-2" variant="link">Register</b-button>

                      <b-button @click="forgetPwdModal = true" class="px-0 mx-2" variant="link">Forgot password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
//import {globalStore} from '../main.js'
export default {
  name: 'Login',
  data: () => {
    return {
    username: '',
    password: '',
    isWrong: false,
    forgetPwdModal: false,
    forgetUsername: '',
    forgetEmail: '',
    forgetResultModal: false,
    forgetResultModalTitle: '',
    forgetResult: ''
    }
  },
  methods: {
    login()
    {
      var content = new FormData()
      content.append('username', this.username)
      content.append('password', this.password)
      axios.post(this.BaseURL+ '/login',content,{
      headers: {
        "Content-Type": "multipart/form-data",
      }
      })
      .then(response => {
          if(response.data.authenticated == 'true') {
            console.log(response.data)
            const token = response.data.token
            localStorage.setItem('token', token)
            localStorage.setItem('userID', response.data.userID)
            localStorage.setItem('userFName', response.data.firstName)
            console.log(localStorage.getItem(token))
            //console.log(globalStore.isLoggedIn)
            this.$router.replace('/')
          }
          else {
            this.username = ''
            this.password = ''
            this.isWrong = true
          }
      })
      .catch(error => {
        alert(error + this.getSysErrorMsg())
        console.log(error)
      }) 
    },
    forgetPassword() {
      axios.get(this.BaseURL+ '/forget', {
          params: {
          username: this.forgetUsername,
          email : this.forgetEmail
        }
      }
      )
      .then(response => {
          if(response.data.isSuccessful == 'true') {
            this.forgetResultModalTitle = "Reset Password Succeeded"
            this.forgetResult="System has sent new password to your e-mail, You can set new password after access to the system"
          }
          else {
            this.forgetResultModalTitle = "Reset Password Failed"
            this.forgetResult="System failed to send new password to your e-mail, Your username or e-mail may be incorrect, Please try again"
          }
          this.forgetResultModal = true
          this.forgetPwdModal = false
      })
      .catch(error => {
        alert(error + this.getSysErrorMsg())
        console.log(error)
      }) 
    }
  }

}
</script>
