<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <h1>Logout</h1>
                Are you sure to log out from the system?
                <div>
                  <b-button class="mx-2" @click="logout()">Yes</b-button>
                  <b-button class="mx-2" @click="goBack()">No</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import {globalStore} from '../main.js'
export default {
  name: 'Logout',
  methods: {
    logout() {
      localStorage.removeItem('token')
      localStorage.removeItem('userID')
      localStorage.removeItem('userFName')
      console.log('Now log out')
      this.$router.replace('/pages/login')
    },
    goBack() {
      this.$router.replace('/')
    }
    }
  }
</script>
