<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <b-modal v-model="delAccessModal"
                title="Delete Access"
                ok-title="Yes"
                cancel-title="No"
                @ok="deleteAccess">
        Are you sure to delete this access from the system?
        </b-modal>
        <b-modal v-model="insertAccessModal"
                title="Insert Access"
                ok-title="Insert"
                cancel-title="Cancel"
                @ok="checkInsertAccess">
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-exchange"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Access Name" v-model="accessName"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group
                    label="Database"
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-radio-group
                      v-model="dbtype"
                      :options="this.DBoptions"
                      stacked
                      buttons
                      button-variant="primary"
                    ></b-form-radio-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-desktop"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="IP Address" v-model="ipaddress"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-plug"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Port Number" v-model="dbPort"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-user"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Username" v-model="dbuser"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-asterisk"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Password" v-model="dbpassword"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-database"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Database Name | Service Name" v-model="dbname"></b-form-input>
                    </b-input-group>
                  </b-form-group>
        </b-modal>
        <b-modal 
          :title="accessResultModalTitle"
          size="sm" v-model="accessResultModal"
          @ok="accessResultModal = false" ok-only>
          {{accessResult}}
        </b-modal>
        <c-table :table-data="items" :fields="fields" caption="<i class='fa fa-align-justify'></i> My Database Connections" ref="accessTable"></c-table>
        <b-button block variant="primary" size="lg" @click="insertAccessModal=true">Insert a new access</b-button>
      </b-col>
    </b-row><!--/.row-->
  </div>

</template>

<script>
import cTable from './Table.vue'
import axios from 'axios'
//import {globalStore} from '../main.js'
export default {
  name: 'accessList',
  components: {cTable},
  data: () => {
    return {
      items: [],
      fields: [
        {key: 'accessID', label: 'Access ID'},
        {key: 'accessName', label: 'Access Name'},
        {key: 'dbms', label: 'DBMS'},
        {key: 'ipAddress', label: 'IP Address'},
        {key: 'dbUsername', label: 'Username'},
        {key: 'dbName', label: 'Database Name'},
        {key: 'testAccess', label: 'Test Connection'},
        {key: 'delAccess', label: 'Delete Access'}
      ],
      insertAccessModal: false,
      delAccessModal: false,
      delAccessID: '',
      testAccessID: '',
      //Data for inserting a new access
      accessName: '',
      ipaddress : '',
      dbuser : '',
      dbpassword : '',
      dbname : '',
      dbtype : '',
      dbPort : '',
      accessResult: '',
      accessResultModalTitle: '',
      accessResultModal: false
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
  	fetchData() {
    const token = "Bearer " + localStorage.getItem("token")
  	axios.get(this.BaseURL+ '/accesses', {
      params: {
        userid: localStorage.getItem('userID')
      },
    headers:
        {
          'Authorization': token
        }
    })
    .then(response => {
      this.items = response.data
      console.log(this.items)
      console.log(new Date())
    })
    .catch(error => {
      console.log('error: ' + error)
    }) 
    },
    deleteAccess()
    {
      const token = "Bearer " + localStorage.getItem("token")
      axios.delete(this.BaseURL+ '/accesses', {
        params: {
          accessid: this.delAccessID,
          userid: localStorage.getItem('userID')
        },
        headers: {
          'Authorization': token
        }
      }
      )
      .then(response => {
        console.log(response.data)
        if(response.data.status == '200') {
            this.accessResultModalTitle = "Deleted Successfully"
            this.accessResult="Your database access information has been removed from the system"
            //this.Reset()
          }
          else {
            this.accessResultModalTitle = "Removal Failed"
            this.accessResult="System failed to remove the selected database access information from the system, Please try again later"
          }
          this.accessResultModal = true
        this.fetchData()
      })
      .catch(error => {
        console.log('error: ' + error)
      })
       delAccessModal  = false
      },
      //Check whether all fields are filled or not
      checkInsertAccess() {
        if(this.accessName==''||
          this.dbtype==''||
          this.ipaddress==''||
          this.dbPort==''||
          this.dbuser==''||
          this.dbpassword==''||
          this.dbname==''
          ) {
          this.accessResultModalTitle = 'Incorrect Input'
          this.accessResult = 'Please fill in all fields to insert a new database access information'
          this.accessResultModal = true
        }
        else {
          insertAccess()
        }
      },
      insertAccess() {
      var content = new FormData();
      content.append('userid', localStorage.getItem('userID'))
      content.append('accessName', this.accessName)
      content.append('database', this.dbtype)
      content.append('dbIp', this.ipaddress)
      content.append('dbPort', this.dbPort)
      content.append('dbUser', this.dbuser)
      content.append('dbPassword', this.dbpassword)
      content.append('dbName', this.dbname)
      const token = "Bearer " + localStorage.getItem("token")
      axios.post(this.BaseURL+ '/accesses',content,{
      headers: {
        "Content-Type": "multipart/form-data",
        "Authorization":  token
      }
      })
      .then(response => {
        console.log(response.data)
        if(response.data.status == '200') {
            this.accessResultModalTitle = "Inserted Successfully"
            this.accessResult="Your database access information has been inserted to the system"
          }
          else {
            this.accessResultModalTitle = "Inserted Failed"
            this.accessResult="System failed to insert a new database access information, Please try again later"
          }
          this.accessResultModal = true
          this.fetchData()
      })
      .catch(error => {
        alert(error + this.getSysErrorMsg())
        console.log(error)
      })

    },
    testAccess(accessID) {
    const token = "Bearer " + localStorage.getItem("token")
    axios.get(this.BaseURL+ '/testconn', {
      params: {
        accessid: accessID,
        userid: localStorage.getItem('userID')
      },
    headers:
        {
          'Authorization': token
        }
    })
    .then(response => {
      if (response.data.status=='200') {
            this.accessResultModalTitle = "Connection Valid"
            this.accessResult="The connection to your database is valid"
          }
        else {
            this.accessResultModalTitle = "Connection Invalid"
            this.accessResult="The connection to your database is invalid, Please check or create a new one again"
          }
          this.accessResultModal = true
    })
    .catch(error => {
      alert(error + this.getSysErrorMsg())
      console.log('error: ' + error)
    }) 
    }
  }
}
</script>