<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="8">
        <b-modal v-model="delIndexModal"
                title="Delete Elasticsearch Index"
                ok-title="Yes"
                cancel-title="No"
                @ok="deleteIndex">
        Are you sure to delete this Elasticsearch index from the system?
        </b-modal>
        <b-modal 
          :title="indexResultModalTitle"
          size="sm" v-model="indexResultModal"
          @ok="indexResultModal = false" ok-only>
          {{indexResult}}
        </b-modal>
        <c-table :table-data="items" :fields="fields" caption="<i class='fa fa-align-justify'></i> My Elasticsearch Index" ref="accessTable"></c-table>
      </b-col>
    </b-row><!--/.row-->
  </div>

</template>

<script>
import cTable from './Table.vue'
import axios from 'axios'
//import {globalStore} from '../main.js'
export default {
  name: 'indexList',
  components: {cTable},
  data: () => {
    return {
      items: [],
      fields: [
        {key: 'indexID', label: 'Index ID'},
        {key: 'indexName', label: 'Index Name'},
        {key: 'alias', label: 'Alias'},
        {key: 'delIndex', label: 'Delete Index'}
      ],
      delIndexModal: false,
      delIndexID: '',
      indexResult: '',
      indexResultModalTitle: '',
      indexResultModal: false
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
    /*console.log('isLoggedIn= ' + globalStore.isLoggedIn)
    console.log('userid= ' + globalStore.userID)*/
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
  	fetchData() {
    const token = "Bearer " + localStorage.getItem("token")
  	axios.get(this.BaseURL+ '/indices', {
      params: {
        userid: localStorage.getItem('userID')
      },
    headers:
        {
          'Authorization': token
        }
    })
    .then(response => {
      this.items = response.data
    })
    .catch(error => {
      alert(error + this.getSysErrorMsg())
      console.log('error: ' + error)
    }) 
    },
    deleteIndex()
    {
      this.delIndexModal = true
      const token = "Bearer " + localStorage.getItem("token")
      //alert('Im here in delete' + accessItem.accessID)
      axios.delete(this.BaseURL+ '/indices', {
        params: {
          indexid: this.delIndexID,
          userid: localStorage.getItem('userID')
        },
        headers: {
          'Authorization': token
        }
      }
      )
      .then(response => {
        console.log(response.data)
        if(response.data.status == '200') {
            this.indexResultModalTitle = "Deleted Successfully"
            this.indexResult="Your Elasticsearch Index has been removed from the system"
            //this.Reset()
          }
          else {
            this.indexResultModalTitle = "Removal Failed"
            this.indexResult="System failed to remove the selected Elasticsearch Index from the system, Please try again later"
          }
          this.indexResultModal = true
        this.fetchData()
      })
      .catch(error => {
        alert(error + this.getSysErrorMsg())
        console.log('error: ' + error)
      })
       delindexModal  = false
      },
      
  }
}
</script>