<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col lg="12">
        <c-table :table-data="items" :fields="fields" caption="<i class='fa fa-align-justify'></i> My Request"></c-table>
      </b-col>
    </b-row><!--/.row-->
  </div>

</template>

<script>
import cTable from './Table.vue'
import axios from 'axios'
//import {globalStore} from '../main.js'
export default {
  name: 'requestList',
  components: {cTable},
  data: () => {
    return {
      items: [],
      fields: [
        {key: 'requestID', label: 'Request ID', sortable: true},
        {key: 'submittedDate', label: 'Submitted Date', sortable: true},
        {key: 'finishedDate', label: 'Finished Date', sortable: true},
        {key: 'name', label: 'Description'},
        {key: 'source', label: 'Source'},
        {key: 'status'},
      ],
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
    /*console.log('isLoggedIn= ' + globalStore.isLoggedIn)
    console.log('userid= ' + globalStore.userID)*/
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
  	fetchData() {
      console.log(localStorage.getItem("token"))
      const token = "Bearer " + localStorage.getItem("token")
  	axios.get(this.BaseURL+ '/requests', {
      params: {
        userid: localStorage.getItem('userID')
      },
      headers:
        {
          'Authorization': token
        }
    }
    )
    .then(response => {
      this.items = response.data
    })
    .catch(error => {
      alert(error + this.getSysErrorMsg())
    }) 
    }
}
}
</script>