<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table :table-data="items" :fields="fields" caption="<i class='fa fa-align-justify'></i> Simple Table"></c-table>
      </b-col>
    </b-row><!--/.row-->
  </div>

</template>

<script>
//var items = [];
//import { shuffleArray } from '@/shared/utils'
import cTable from './Table.vue'
import axios from 'axios'
export default {
  name: 'tables',
  components: {cTable},
  data: () => {
    return {
      items: [],
      fields: [
        {key: 'requestID', label: 'Request ID'},
        {key: 'submittedDate', label: 'Submitted Date'},
        {key: 'finishedDate', label: 'Finished Date'},
        {key: 'name', label: 'Name'},
        {key: 'visualization', label: 'Visualization'},
        {key: 'algorithm', label: 'Algorithm'},
        {key: 'view'},
      ],
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
  	fetchData() {
  	axios.get('http://localhost:5000/myvisual', {
    params: {
      userid: '1'
    }
  })
  .then(response => {
    this.items = response.data
    console.log(this.items)
  })
  .catch(error => {
    console.log(error)
  })  
  }
}
}
</script>
