<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <b-form>
              <b-modal 
              :title="okModalTitle"
              size="sm" v-model="okModal"
              @ok="okModal = false" ok-only>
              {{okModalContent}}
              </b-modal>
              <b-modal 
              :title="regResultModalTitle"
              size="sm" v-model="regResultModal"
              @ok="checkRegStatus" ok-only>
              {{regResultModalContent}}
              </b-modal>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" placeholder="Username" v-model="username" @change="checkUser" :state="isAvailable" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" placeholder="Firstname"v-model="firstName" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" placeholder="Lastname" v-model="lastName" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text>@</b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" placeholder="Email" v-model="email" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" class="form-control" placeholder="Password" v-model="password" />
                </b-input-group>

                <b-input-group class="mb-4">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" class="form-control" placeholder="Repeat password" v-model="passwordRepeat" :state="pwdState" />
                </b-input-group>

                <b-button variant="success"  @click="Register" class="mx-2">Create Account</b-button>
                <b-button variant="primary" @click="Reset" class="mx-2">Reset</b-button>
                <b-button variant="danger"  @click="goBack" class="mx-2">Cancel</b-button>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Register',
  data () {
    return {
      username: '',
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      passwordRepeat: '',
      okModal: false,
      okModalTitle: '',
      okModalContent: '',
      regResultModalTitle: '',
      regResultModalContent: '',
      regResultModal: false,
      isAvailable: null,
      isSuccess: false
    }
  },
  computed: {
      pwdState() {
        if(this.passwordRepeat.length > 0) {
          if(this.password===this.passwordRepeat) {
            return true
          }
          else {
            return false
          }
        }
        else {
          return null
        }
      }
  },
  methods: {
    Register() {
      if(this.checkInput()) {
        if(this.password == this.passwordRepeat) {
          var content = new FormData();
          content.append('username', this.username)
          content.append('password', this.password)
          content.append('email', this.email)
          content.append('firstname', this.firstName)
          content.append('lastname', this.lastName)
          const token = "Bearer " + localStorage.getItem("token")
          axios.post(this.BaseURL+ '/users',content,{
          headers: {
            //"Access-Control-Allow-Origin": "*",
            "Content-Type": "multipart/form-data",
            "Authorization":  token
          }
          })
          .then(response => {
            console.log(response.data)
            if(response.data.status == '200') {
              this.isSuccess = true
              this.regResultModalTitle = 'Register succeeded'
              this.regResultModalContent = 'You have already registered to the system successfully.'
              this.Reset()
              this.regResultModal = true
            }
            else if(response.data.status == '500') {
              this.isSuccess = false
              this.regResultModalTitle = 'Registered Failed'
              this.regResultModalContent = 'There are some problems, Please try again later.'
              this.regResultModal = true
            }
          })
          .catch(error => {
            alert(error + this.getSysErrorMsg())
            console.log(error)
          })
        }
        else {
          this.okModalTitle = 'Password doesn\'t Match'
          this.okModalContent = 'Password doesn\'t match, Please Try Again'
          this.okModal = true
        }
      }
      else {
        notFilledModal = true
        this.okModalTitle = 'Can\'t leave input blank'
        this.okModalContent = 'Please fill in all fields (or pick a new unique username)'
        this.okModal = true
      }

    },
    checkRegStatus() {
        if(this.isSuccess == true) {
          this.goBack()
        }
    },
    Reset() {
      this.username = ''
      this.password = ''
      this.passwordRepeat = ''
      this.firstName = ''
      this.lastName = ''
      this.email = ''
      this.isAvailable = null
    },
    resetPassword() {
      console.log(this.notMatchModal)
      this.notMatchModal = false
      this.password = ''
      this.passwordRepeat = ''
    },
    goBack() {
      this.$router.replace('/pages/login')
    },
    checkInput() {
      if(this.username==''||
        this.firstname==''||
        this.lastname==''||
        this.email==''||
        this.password==''||
        this.passwordRepeat==''||
        this.isAvailable=='false') {
        this.notFilledModal = true
        return false
      }
      else {
        return true
      }
    },
    checkUser() {
      axios.get(this.BaseURL+ '/users', {
      params: {
        username: this.username
      },
    })
    .then(response => {
      if(response.data.isUsed == 'true') {
        this.isAvailable = false 
      }
      else if(response.data.isUsed == 'false'){
        this.isAvailable = true
      }
      else
      {
        this.isAvailable = null
      }

    })
    .catch(error => {
      alert(error + this.getSysErrorMsg())
      console.log(error)
    })
    }
  }
}
</script>
