<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="8">
        <b-card>
        <b-modal 
        :title="insertResultModalTitle"
        size="sm" v-model="insertResultModal"
        @ok="insertResultModal = false" ok-only>
        {{insertResult}}
        </b-modal>
        <div slot="header">
            <strong>Submit a New Request</strong>
          </div>
          <b-row>
            <b-col sm="12">
               <b-form-group
                label="Request Name"
                label-for="reqName"
                :label-cols="3"
                :horizontal="true">
                <b-input-group>
                  <b-form-input type="text" id="reqName" placeholder="Please Enter Name for this request" v-model="reqName"></b-form-input>
                </b-input-group>
              </b-form-group>
              <b-form-group
                label="Task File"
                label-for="taskFile"
                :label-cols="3"
                :horizontal="true"
                id="taskFileLabel">
                  <b-form-file id="taskFile" v-model="taskFile" :plain="true" accept=".py"></b-form-file>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12">
              <b-form-group
                label="Source of Data"
                label-for="sourcedata"
                :label-cols="3"
                :horizontal="true">
                <b-form-radio-group
                  id="sourcedata">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="database" name="datasource" class="custom-control-input" value="1" checked @click="datasource=0">
                    <label class="custom-control-label" for="database">Database Connection</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="file" name="datasource" class="custom-control-input" value="0"  @click="datasource=1">
                    <label class="custom-control-label" for="file">Upload File</label>
                  </div>
                </b-form-radio-group>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="6">
              <b-card>
                <div slot="header">
                  <strong>Database Connection</strong>
                </div>
                  <b-form-group
                  label="Access"
                  label-for="accSelect"
                  :label-cols="3"
                  :horizontal="true" v-if="accessList.length > 0">
                  <b-form-select id="accSelect"
                    :plain="true"
                    value="Please select" v-model="accessID" @change="changeSource()">
                  <option value="" selected disabled> Please Select Access </option>
                  <option v-for="access in accessList" :value="access.accessID">
                  {{ access.accessID }} - {{ access.accessName }}
                  </option>
                  </b-form-select>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-exchange"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Access Name" :disabled="datasource == 1" v-model="accessName"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group
                    label="Database"
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-radio-group
                      v-model="dbtype"
                      :options="this.DBoptions"
                      stacked
                      buttons
                      button-variant="primary"
                      :disabled="datasource == 1"
                    ></b-form-radio-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-desktop"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="IP Address" :disabled="datasource == 1" v-model="ipaddress"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-plug"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Port Number" v-model="dbPort":disabled="datasource == 1"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-user"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Username" :disabled="datasource == 1" v-model="dbuser"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-asterisk"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Password" :disabled="datasource == 1" v-model="dbpassword"></b-form-input>
                    </b-input-group>
                  </b-form-group>
                  <b-form-group>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-input-group-text><i class="fa fa-database"></i></b-input-group-text>
                      </b-input-group-prepend>
                      <b-form-input type="text" placeholder="Database Name | Service Name" :disabled="datasource == 1" v-model="dbname"></b-form-input>
                    </b-input-group>
                  </b-form-group>
              </b-card>
            </b-col>
            <b-col sm="6">
              <b-card>
                <div slot="header">
                  <strong>Upload File</strong>
                </div>
                  <b-form-group
                    label="File input"
                    label-for="dataFile"
                    :label-cols="3"
                    :horizontal="true">
                      <vue-dropzone id="dataFile" :options="dropOptions"></vue-dropzone>
                  </b-form-group>
              </b-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-progress :value="uploadProgress" variant="info" v-if="progressBar==true" height="30px" class="mb-4" show-progress></b-progress>
              <b-button type="button" variant="primary" class="mx-2" @click="checkSubmitRequest">Submit</b-button>
              <b-button type="button" variant="danger" class="mx-2" @click="Reset">Reset</b-button>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
import vueDropzone from "vue2-dropzone";

export default {
  name: 'SubmitRequest',
  data () {
    return {
      //Datasource
      //0 = DBConnection
      //1 = UploadFile
      datasource : 0,
      //Request Data : DB Connection
      accessID : '',
      accessName: '',
      ipaddress : '',
      dbPort: '',
      dbuser : '',
      dbpassword : '',
      dbname : '',
      dbtype : '',
      //Request Data : File
      accessList : [],
      reqName : '',
      source:'',
      taskFile: null,
      dataFile: null,
      //
      insertResult: '',
      insertResultModalTitle: '',
      insertResultModal: false,
      uploadProgress:0,
      progressBar: false,
      dropOptions: {
        url: 'http://localhost:5000/requests',
        paramName: 'dataFile',
        maxFilesize: 10000, // MB
        maxFiles: 1,
        chunking: true,
        chunkSize: 1000000, // Bytes
        thumbnailWidth: 150, // px
        thumbnailHeight: 150,
        addRemoveLinks: true
      }

    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchAccessList()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchAccessList'
  },
  methods: {
    checkSubmitRequest() {
      if(this.reqName=='') {
        this.insertResultModalTitle = 'Request name is required'
        this.insertResult = 'Please Enter Request name before submitting a request'
        this.insertResultModal =true
      }
      else {
        if(this.taskFile == null || this.taskFile.name.split('.')[1]!='py') {
          this.insertResultModalTitle = 'Incorrect Input'
          this.insertResult = 'Please select task file(accepts .py file only) to process'
          this.insertResultModal =true
        }
        else {
          //Use Data File
          if(this.datasource == 1) {
            var acceptFileExt = ['csv','txt','json']
            if(acceptFileExt.includes(this.dataFile.name.split('.')[1].toLowerCase())) {
              this.submitRequest()
            }
            else {
              this.insertResultModalTitle = 'Incorrect Data File Type'
              this.insertResult = 'The system only accepts file as follows [' + acceptFileExt + ']'
              this.insertResultModal =true
            }
          }
          //Use DB Connection
          else {
              if(this.accessID =='' && this.accessName ==''&&
                this.dbtype =='' && this.ipaddress =='' &&
                this.dbPort =='' && this.dbuser =='' &&
                this.dbpassword =='' && this.dbname =='') {
                this.insertResultModalTitle = 'Incorrect Database Access Information'
                this.insertResult = 'Please Fill in database access information'
                this.insertResultModal =true
              }
              else {
                this.submitRequest()
              }
            }
          }
        }
    },
    submitRequest() {
      var content = new FormData()
      if(this.datasource == 1) {
        this.source = this.dataFile.name
        this.progressBar = true
      }
      if(this.accessID == '' && this.datasource == 0) {
        this.source = this.dbtype
      }
      content.append('userid', localStorage.getItem('userID'))
      content.append('accessID', this.accessID)
      content.append('accessName', this.accessName)
      content.append('database', this.dbtype)
      content.append('dbIp', this.ipaddress)
      content.append('dbPort', this.dbPort)
      content.append('dbUser', this.dbuser)
      content.append('dbPassword', this.dbpassword)
      content.append('dbName', this.dbname)
      content.append('datasource', this.datasource)
      content.append('name', this.reqName)
      content.append('taskFile', this.taskFile)
      content.append('dataFile', this.dataFile)
      content.append('source', this.source)
      const token = "Bearer " + localStorage.getItem("token")
      axios.post(this.BaseURL+ '/requests',content,{
      headers: {
        "Content-Type": "multipart/form-data",
        "Authorization":  token
      },
      onUploadProgress: function( progressEvt ) {
      this.uploadProgress = parseInt( Math.round( ( progressEvt.loaded * 100 ) / progressEvt.total ) );
    }.bind(this)
      })
      .then(response => {
          if(response.data.status == '200') {
            this.insertResultModalTitle = "Inserted Successfully"
            this.insertResult="Your request has been inserted to the system"
            this.Reset()
          }
          else {
            this.insertResultModalTitle = "Inserted Failed"
            this.insertResult="System failed to insert a new request, Please try again later"
          }
          this.insertResultModal = true
      })
      .catch(error => {
        alert(error + this.getSysErrorMsg())
        console.log(error)
      })

    },
    fetchAccessList() {
    const token = "Bearer " + localStorage.getItem("token")
    axios.get(this.BaseURL+ '/accesses', {
    params: {
      userid: localStorage.getItem('userID')
    },
    headers:
        {
          'Authorization': token
        }
    })
    .then(response => {
      this.accessList = response.data;
      console.log(this.accessList);
    })
    .catch(error => {
      alert(error + this.getSysErrorMsg())
      console.log(error)
    })  
    },
    Reset() {
      this.accessID = ''
      this.accessName = ''
      this.ipaddress = ''
      this.dbPort = ''
      this.dbuser = ''
      this.dbpassword = ''
      this.dbname = ''
      this.dbtype = ''
      this.source = ''
      this.reqName = ''
    },
    changeSource() {
      for (var i = 0; i < this.accessList.length; i++) {
        if(this.accessList[i].accessID == this.accessID) {
            this.source = this.accessList[i].dbms
          }
      }
    }
  },
  components: {
    vueDropzone
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
