<template>
  <b-card :header="caption">
    <b-table :dark="dark" :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="captions" :current-page="currentPage" :per-page="perPage" @row-clicked="detailClicked">
      <template slot="status" slot-scope="data">
        <b-button block class="btn-sm" :variant="getStatusBadge(data.item.status)" >{{getStatus(data.item.status)}}</b-button>
      </template>
      <template slot="source" slot-scope="data">
        <b-badge :variant="getBadgeSource(data.item.inputType)" >{{getDataSource(data.item.inputType)}}</b-badge>{{data.item.source}}
      </template>
      <template slot="testAccess" slot-scope="data">
          <b-button variant="success" @click="$parent.testAccess(data.item.accessID)">Test Connection</b-button>
      </template>
      <template slot="delAccess" slot-scope="data">
          <b-button variant="danger" @click="delAccessModalShow(data.item.accessID)">Delete</b-button>
      </template>
      <template slot="delIndex" slot-scope="data">
          <b-button variant="danger" @click="delIndexModalShow(data.item.indexID)">Delete</b-button>
      </template>
      <template slot="finishedDate" slot-scope="data">
          {{isFinished(data.item.finishedDate)}}
      </template>
      <template slot="dbms" slot-scope="data">
          {{getDBName(data.item.dbms)}}
      </template>
    </b-table>
    <nav>
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
</template>

<script>
import axios from 'axios'

export default {
  name: 'c-table',
  inheritAttrs: false,
  props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    },
    tableData: {
      type: [Array, Function],
      default: () => []
    },
    fields: {
      type: [Array, Object],
      default: () => []
    },
    perPage: {
      type: Number,
      default: 20
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      currentPage: 1
    }
  },
  computed: {
    items: function() {
      const items =  this.tableData
      return Array.isArray(items) ? items : items()
    },
    totalRows: function () { return this.getRowCount() },
    captions: function() { return this.fields }
  },
  methods: {
    getRowCount: function () {
      return this.items.length
    },
    detailClicked(item) {
        if(item.requestID)
        {        
          const detailLink = 'my-request/' + item.requestID
          console.log(detailLink)
          this.$router.push({path: detailLink})
        }
    },
    delAccessModalShow(accessID) {
      this.$parent.delAccessID = accessID
      this.$parent.delAccessModal = true
    },
    delIndexModalShow(indexID) {
      this.$parent.delIndexID = indexID
      this.$parent.delIndexModal = true
    },
    testModalShow(accessID) {
      this.$parent.testAccessID = accessID
    }
    }
  }
</script>
