<template>
  <div class="animated fadeIn">
      <b-row>
        <b-col sm="6">
          <b-card>
          <div slot="header">
            <strong>User Setting</strong>
          </div>
           <b-form-group
            label="Username"
            label-for="username"
            :label-cols="3"
            :horizontal="true">
            <b-input-group>
              <b-form-input type="text" id="username" v-model="username" disabled></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="First Name"
            label-for="firstName"
            :label-cols="3"
            :horizontal="true">
            <b-input-group>
              <b-form-input id="firstName" v-model="firstName" :plain="true"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="Last Name"
            label-for="lastName"
            :label-cols="3"
            :horizontal="true">
            <b-input-group>
              <b-form-input id="lastName" v-model="lastName" :plain="true"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="E-mail"
            label-for="email"
            :label-cols="3"
            :horizontal="true">
            <b-input-group>
              <b-form-input type="email" id="email" v-model="email" :plain="true"></b-form-input>
          </b-input-group>
          </b-form-group>
          <b-form-group
            label="Password"
            label-for="password"
            :label-cols="3"
            :horizontal="true">
            <b-input-group>
              <b-form-input type="password" id="password" v-model="password" :plain="true"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="Re-Password"
            label-for="passwordRep"
            :label-cols="3"
            :horizontal="true">
            <b-input-group>
              <b-form-input type="password" id="passwordRep" v-model="passwordRep" :plain="true" :state="pwdState"></b-form-input>
            </b-input-group>
          </b-form-group>
          <b-button variant="primary" @click="changeSetting">Change Setting</b-button>
        </b-card>
        </b-col>
      </b-row>
  </div>
</template>

<script>
import axios from 'axios'
//import {globalStore} from '../main.js'
export default {
  name: 'Login',
  data: () => {
    return {
    userid: '',
    username: '',
    password: '',
    passwordRep: '',
    firstName: '',
    lastName: '',
    email: ''
    }
  },
  computed: {
      pwdState() {
        if(this.passwordRep.length > 0) {
          if(this.password===this.passwordRep) {
            return true
          }
          else
          {
            return false
          }
        }
        else
        {
          return null
        }
      }
  },
  created () {
  // fetch the data when the view is created and the data is
  // already being observed
  this.fetchData()
  /*console.log('isLoggedIn= ' + globalStore.isLoggedIn)
  console.log('userid= ' + globalStore.userID)*/
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
    fetchData() {
    const token = "Bearer " + localStorage.getItem("token")
    axios.get(this.BaseURL+ '/users', {
      params: {
        userid: localStorage.getItem('userID')
      },
    headers:
        {
          'Authorization': token
        }
    })
    .then(response => {
      console.log(response.data)
      this.username = response.data.username
      this.firstName = response.data.firstName
      this.lastName = response.data.lastName
      this.email = response.data.email
      this.userid = response.data.userid
    })
    .catch(error => {
      alert(error + this.getSysErrorMsg())
    }) 
    },
    changeSetting() {
      var content = new FormData();
      const token = "Bearer " + localStorage.getItem("token")
      content.append('userid', this.userid)
      content.append('password', this.password)
      content.append('firstname', this.firstName)
      content.append('lastname', this.lastName)
      content.append('email', this.email)
      console.log(this.username)
      axios.patch(this.BaseURL+ '/users', content,{
      headers: {
        "Content-Type": "multipart/form-data",
        "Authorization":  token
      }
      })
      .then(response => {
            console.log(response.data)
      })
      .catch(error => {
        alert(error + this.getSysErrorMsg())
        console.log(error)
      }) 
    }
  }
}
</script>
