<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table :table-data="items" :fields="fields" caption="<i class='fa fa-align-justify'></i> Simple Table"></c-table>
      </b-col>
    </b-row><!--/.row-->
  </div>

</template>

<script>
import { shuffleArray } from '@/shared/utils'
import cTable from './Table.vue'

const someData = () => shuffleArray([{"request_id":1,"submitted_date":"7/22/2018","visual":"msmartman0","algo":"dpattle0","resource":"file","status":"Succeeded","note":"Kaffir cat","operation":null},
{"request_id":2,"submitted_date":"3/14/2018","visual":"khandling1","algo":"aolyff1","resource":"database","status":"Succeeded","note":"Brush-tailed phascogale","operation":null},
{"request_id":3,"submitted_date":"12/1/2018","visual":"debbutt2","algo":"nreeves2","resource":"file","status":"Succeeded","note":"Hornbill, yellow-billed","operation":null},
{"request_id":4,"submitted_date":"3/14/2018","visual":"ddanilenko3","algo":"cvonhelmholtz3","resource":"database","status":"Succeeded","note":"Marmot, hoary","operation":null},
{"request_id":5,"submitted_date":"5/8/2018","visual":"obrereton4","algo":"mlehrian4","resource":"database","status":"Canceled","note":"Deer, spotted","operation":null},
{"request_id":6,"submitted_date":"1/26/2019","visual":"ctriggol5","algo":"mcurgenven5","resource":"file","status":"Canceled","note":"Western palm tanager (unidentified)","operation":null},
{"request_id":7,"submitted_date":"1/30/2019","visual":"alaville6","algo":"tcoakley6","resource":"database","status":"Pending","note":"Crake, african black","operation":null},
{"request_id":8,"submitted_date":"6/23/2018","visual":"amiguel7","algo":"jgoodfellowe7","resource":"file","status":"Pending","note":"Black-crowned night heron","operation":null},
{"request_id":9,"submitted_date":"4/27/2018","visual":"ebrudenell8","algo":"mamey8","resource":"file","status":"Canceled","note":"Hanuman langur","operation":null},
{"request_id":10,"submitted_date":"3/20/2018","visual":"rmillbank9","algo":"aeskriet9","resource":"file","status":"Canceled","note":"Lemur, grey mouse","operation":null},
{"request_id":11,"submitted_date":"9/1/2018","visual":"nfevera","algo":"kblakslanda","resource":"file","status":"Succeeded","note":"Ring-tailed possum","operation":null},
{"request_id":12,"submitted_date":"11/13/2018","visual":"ncamblingb","algo":"ecreganb","resource":"database","status":"Pending","note":"Pelican, brown","operation":null},
{"request_id":13,"submitted_date":"1/12/2019","visual":"hquailc","algo":"cbaulchc","resource":"file","status":"Canceled","note":"European spoonbill","operation":null},
{"request_id":14,"submitted_date":"10/22/2018","visual":"fbarreaud","algo":"ghuriched","resource":"file","status":"Succeeded","note":"Short-nosed bandicoot","operation":null},
{"request_id":15,"submitted_date":"6/2/2018","visual":"ldinselle","algo":"bslobome","resource":"file","status":"Succeeded","note":"Boa, cook's tree","operation":null},
{"request_id":16,"submitted_date":"4/24/2018","visual":"mockendonf","algo":"gbellhamf","resource":"file","status":"Canceled","note":"Ring-tailed possum","operation":null},
{"request_id":17,"submitted_date":"11/20/2018","visual":"obonehillg","algo":"dbarcag","resource":"file","status":"Succeeded","note":"Indian jackal","operation":null},
{"request_id":18,"submitted_date":"5/3/2018","visual":"cdearellh","algo":"mglasspoolh","resource":"database","status":"Succeeded","note":"Civet, common palm","operation":null},
{"request_id":19,"submitted_date":"1/16/2019","visual":"agullbergi","algo":"tvidgeoni","resource":"file","status":"Succeeded","note":"American buffalo","operation":null},
{"request_id":20,"submitted_date":"1/14/2019","visual":"mstubbertj","algo":"lmcgrudderj","resource":"database","status":"Canceled","note":"Buffalo, african","operation":null},
{"request_id":21,"submitted_date":"4/30/2018","visual":"dpetfordk","algo":"scominettik","resource":"database","status":"Succeeded","note":"Northern fur seal","operation":null},
{"request_id":22,"submitted_date":"10/9/2018","visual":"scordiel","algo":"lhearsonl","resource":"file","status":"Canceled","note":"Cobra, egyptian","operation":null},
{"request_id":23,"submitted_date":"1/26/2019","visual":"dperottm","algo":"tmeindlm","resource":"database","status":"Succeeded","note":"Sloth, pale-throated three-toed","operation":null},
{"request_id":24,"submitted_date":"1/27/2019","visual":"cferraronen","algo":"handriveln","resource":"database","status":"Succeeded","note":"Caracara, yellow-headed","operation":null},
{"request_id":25,"submitted_date":"4/3/2018","visual":"cgroartyo","algo":"vgarretto","resource":"file","status":"Pending","note":"Beaver, american","operation":null},
{"request_id":26,"submitted_date":"6/27/2018","visual":"lklempsp","algo":"jswinfordp","resource":"database","status":"Canceled","note":"Ground monitor (unidentified)","operation":null},
{"request_id":27,"submitted_date":"12/1/2018","visual":"aboffeyq","algo":"dgoodliffeq","resource":"file","status":"Succeeded","note":"Kingfisher, white-throated","operation":null},
{"request_id":28,"submitted_date":"6/4/2018","visual":"dstowersr","algo":"bburlingamer","resource":"file","status":"Pending","note":"Yellow-brown sungazer","operation":null},
{"request_id":29,"submitted_date":"4/6/2018","visual":"owolfindales","algo":"pkadars","resource":"database","status":"Canceled","note":"Corella, long-billed","operation":null},
{"request_id":30,"submitted_date":"9/9/2018","visual":"icristolt","algo":"mtantont","resource":"file","status":"Succeeded","note":"Stanley bustard","operation":null},
{"request_id":31,"submitted_date":"10/7/2018","visual":"rluckieu","algo":"jrandellu","resource":"database","status":"Pending","note":"Wattled crane","operation":null},
{"request_id":32,"submitted_date":"3/9/2018","visual":"mrichardssonv","algo":"wzuanv","resource":"database","status":"Pending","note":"Wallaby, whip-tailed","operation":null},
{"request_id":33,"submitted_date":"7/10/2018","visual":"bdearthw","algo":"bclaquew","resource":"database","status":"Pending","note":"Cape cobra","operation":null},
{"request_id":34,"submitted_date":"5/13/2018","visual":"mkoppesx","algo":"fberryx","resource":"file","status":"Canceled","note":"Gull, southern black-backed","operation":null},
{"request_id":35,"submitted_date":"4/22/2018","visual":"dchastely","algo":"dhallidayy","resource":"database","status":"Pending","note":"Rufous tree pie","operation":null},
{"request_id":36,"submitted_date":"11/11/2018","visual":"somullallyz","algo":"lginniz","resource":"file","status":"Canceled","note":"Phalarope, red","operation":null},
{"request_id":37,"submitted_date":"10/3/2018","visual":"lrawdall10","algo":"enorgate10","resource":"file","status":"Pending","note":"Osprey","operation":null},
{"request_id":38,"submitted_date":"1/1/2019","visual":"trebillard11","algo":"aringham11","resource":"database","status":"Canceled","note":"Hyena, brown","operation":null},
{"request_id":39,"submitted_date":"4/9/2018","visual":"bkirkhouse12","algo":"bbakhrushin12","resource":"file","status":"Pending","note":"Sun gazer","operation":null},
{"request_id":40,"submitted_date":"2/7/2018","visual":"dosband13","algo":"jlabba13","resource":"file","status":"Canceled","note":"Tortoise, galapagos","operation":null},
{"request_id":41,"submitted_date":"8/15/2018","visual":"kgreene14","algo":"dkidstone14","resource":"database","status":"Canceled","note":"Common waterbuck","operation":null},
{"request_id":42,"submitted_date":"5/27/2018","visual":"adevenport15","algo":"gbayldon15","resource":"file","status":"Succeeded","note":"Least chipmunk","operation":null},
{"request_id":43,"submitted_date":"12/17/2018","visual":"vwaine16","algo":"cpedrozzi16","resource":"file","status":"Succeeded","note":"Deer, black-tailed","operation":null},
{"request_id":44,"submitted_date":"12/5/2018","visual":"rsimmill17","algo":"sbasketter17","resource":"file","status":"Canceled","note":"Lilac-breasted roller","operation":null},
{"request_id":45,"submitted_date":"11/29/2018","visual":"rdepinna18","algo":"jreveland18","resource":"file","status":"Succeeded","note":"Black-throated butcher bird","operation":null},
{"request_id":46,"submitted_date":"1/21/2019","visual":"jhatje19","algo":"wgetcliffe19","resource":"file","status":"Succeeded","note":"Corella, long-billed","operation":null},
{"request_id":47,"submitted_date":"11/30/2018","visual":"komara1a","algo":"jnimmo1a","resource":"file","status":"Succeeded","note":"Laughing kookaburra","operation":null},
{"request_id":48,"submitted_date":"5/9/2018","visual":"shay1b","algo":"mmilbourne1b","resource":"database","status":"Canceled","note":"Giant anteater","operation":null},
{"request_id":49,"submitted_date":"2/5/2018","visual":"tbraniff1c","algo":"pligerton1c","resource":"file","status":"Succeeded","note":"Sloth, hoffman's","operation":null},
{"request_id":50,"submitted_date":"8/2/2018","visual":"tbehnke1d","algo":"ksimonelli1d","resource":"file","status":"Pending","note":"Raccoon dog","operation":null},
{"request_id":51,"submitted_date":"9/1/2018","visual":"fbentick1e","algo":"msheards1e","resource":"file","status":"Pending","note":"Otter, giant","operation":null},
{"request_id":52,"submitted_date":"3/5/2018","visual":"abakesef1f","algo":"rcrush1f","resource":"file","status":"Canceled","note":"Spider, wolf","operation":null},
{"request_id":53,"submitted_date":"10/9/2018","visual":"dmarmyon1g","algo":"qpryer1g","resource":"file","status":"Succeeded","note":"Sparrow, rufous-collared","operation":null},
{"request_id":54,"submitted_date":"9/2/2018","visual":"hohm1h","algo":"nviney1h","resource":"database","status":"Succeeded","note":"Green heron","operation":null},
{"request_id":55,"submitted_date":"11/26/2018","visual":"mwalsh1i","algo":"acoggill1i","resource":"file","status":"Succeeded","note":"Legaan, Monitor (unidentified)","operation":null},
{"request_id":56,"submitted_date":"12/31/2018","visual":"gborne1j","algo":"bdurrand1j","resource":"database","status":"Succeeded","note":"Spurfowl, yellow-necked","operation":null},
{"request_id":57,"submitted_date":"3/22/2018","visual":"pbantham1k","algo":"ashopcott1k","resource":"file","status":"Succeeded","note":"Lark, horned","operation":null},
{"request_id":58,"submitted_date":"9/5/2018","visual":"kgiscken1l","algo":"nmainstone1l","resource":"file","status":"Canceled","note":"Bontebok","operation":null},
{"request_id":59,"submitted_date":"1/3/2019","visual":"ndowley1m","algo":"gfoyston1m","resource":"database","status":"Pending","note":"Skink, african","operation":null},
{"request_id":60,"submitted_date":"10/7/2018","visual":"croddick1n","algo":"kbrandli1n","resource":"database","status":"Succeeded","note":"Bleeding heart monkey","operation":null},
{"request_id":61,"submitted_date":"3/9/2018","visual":"kaddington1o","algo":"mblackah1o","resource":"file","status":"Pending","note":"Arctic fox","operation":null},
{"request_id":62,"submitted_date":"12/28/2018","visual":"nmckelvey1p","algo":"espriggin1p","resource":"file","status":"Succeeded","note":"Viper, egyptian","operation":null},
{"request_id":63,"submitted_date":"5/23/2018","visual":"epenwarden1q","algo":"kgricks1q","resource":"file","status":"Canceled","note":"Cheetah","operation":null},
{"request_id":64,"submitted_date":"1/3/2019","visual":"ggarmanson1r","algo":"dmyerscough1r","resource":"file","status":"Canceled","note":"Bare-faced go away bird","operation":null},
{"request_id":65,"submitted_date":"1/6/2019","visual":"drentcome1s","algo":"ejahnisch1s","resource":"file","status":"Canceled","note":"Grey fox","operation":null},
{"request_id":66,"submitted_date":"8/8/2018","visual":"krosi1t","algo":"mdebellis1t","resource":"database","status":"Pending","note":"Dog, raccoon","operation":null},
{"request_id":67,"submitted_date":"5/24/2018","visual":"cmorcombe1u","algo":"nbompass1u","resource":"file","status":"Succeeded","note":"Raccoon, crab-eating","operation":null},
{"request_id":68,"submitted_date":"4/6/2018","visual":"dgoretti1v","algo":"acranefield1v","resource":"file","status":"Pending","note":"Roan antelope","operation":null},
{"request_id":69,"submitted_date":"7/19/2018","visual":"cwilfinger1w","algo":"hrozier1w","resource":"database","status":"Pending","note":"Slender-billed cockatoo","operation":null},
{"request_id":70,"submitted_date":"8/5/2018","visual":"bepton1x","algo":"egladtbach1x","resource":"database","status":"Pending","note":"Crimson-breasted shrike","operation":null},
{"request_id":71,"submitted_date":"11/28/2018","visual":"bvaskov1y","algo":"dmccarl1y","resource":"file","status":"Succeeded","note":"Brindled gnu","operation":null},
{"request_id":72,"submitted_date":"5/4/2018","visual":"gswatland1z","algo":"wfriberg1z","resource":"database","status":"Pending","note":"Crow, american","operation":null},
{"request_id":73,"submitted_date":"11/18/2018","visual":"kscupham20","algo":"rmixon20","resource":"database","status":"Succeeded","note":"Marshbird, brown and yellow","operation":null},
{"request_id":74,"submitted_date":"10/18/2018","visual":"rskipperbottom21","algo":"acawsy21","resource":"database","status":"Pending","note":"Brocket, brown","operation":null},
{"request_id":75,"submitted_date":"11/20/2018","visual":"bphillott22","algo":"wilyunin22","resource":"file","status":"Canceled","note":"Potoroo","operation":null},
{"request_id":76,"submitted_date":"7/19/2018","visual":"warman23","algo":"krickell23","resource":"file","status":"Canceled","note":"American black bear","operation":null},
{"request_id":77,"submitted_date":"9/25/2018","visual":"dleber24","algo":"iswigg24","resource":"file","status":"Canceled","note":"European wild cat","operation":null},
{"request_id":78,"submitted_date":"11/15/2018","visual":"kswindall25","algo":"swakelam25","resource":"file","status":"Succeeded","note":"Brocket, brown","operation":null},
{"request_id":79,"submitted_date":"3/31/2018","visual":"ccampa26","algo":"abrombell26","resource":"database","status":"Succeeded","note":"Wambenger, red-tailed","operation":null},
{"request_id":80,"submitted_date":"12/1/2018","visual":"npattemore27","algo":"fsiemianowicz27","resource":"file","status":"Succeeded","note":"Tortoise, radiated","operation":null},
{"request_id":81,"submitted_date":"9/24/2018","visual":"alake28","algo":"cotter28","resource":"database","status":"Pending","note":"African porcupine","operation":null},
{"request_id":82,"submitted_date":"1/11/2019","visual":"fvandecappelle29","algo":"cpesticcio29","resource":"file","status":"Succeeded","note":"Crab-eating fox","operation":null},
{"request_id":83,"submitted_date":"5/27/2018","visual":"wwindaybank2a","algo":"jboorman2a","resource":"database","status":"Canceled","note":"Capuchin, black-capped","operation":null},
{"request_id":84,"submitted_date":"1/21/2019","visual":"sdemattei2b","algo":"ccallam2b","resource":"file","status":"Pending","note":"Blue waxbill","operation":null},
{"request_id":85,"submitted_date":"4/2/2018","visual":"nsetterfield2c","algo":"pjemison2c","resource":"database","status":"Pending","note":"Rufous-collared sparrow","operation":null},
{"request_id":86,"submitted_date":"4/24/2018","visual":"clumber2d","algo":"jgillice2d","resource":"file","status":"Canceled","note":"Capuchin, weeper","operation":null},
{"request_id":87,"submitted_date":"3/12/2018","visual":"pbeddo2e","algo":"mgaskal2e","resource":"database","status":"Pending","note":"Shrike, common boubou","operation":null},
{"request_id":88,"submitted_date":"10/7/2018","visual":"emealand2f","algo":"zwebb2f","resource":"file","status":"Succeeded","note":"Galapagos mockingbird","operation":null},
{"request_id":89,"submitted_date":"4/3/2018","visual":"fstigger2g","algo":"mmcclancy2g","resource":"file","status":"Succeeded","note":"Whale, southern right","operation":null},
{"request_id":90,"submitted_date":"3/10/2018","visual":"aspurge2h","algo":"slujan2h","resource":"database","status":"Pending","note":"Uinta ground squirrel","operation":null},
{"request_id":91,"submitted_date":"6/4/2018","visual":"cody2i","algo":"kpriestland2i","resource":"file","status":"Pending","note":"Greater adjutant stork","operation":null},
{"request_id":92,"submitted_date":"8/14/2018","visual":"mdarbishire2j","algo":"jtreen2j","resource":"file","status":"Succeeded","note":"Ibis, glossy","operation":null},
{"request_id":93,"submitted_date":"2/24/2018","visual":"cerbe2k","algo":"gmeijer2k","resource":"database","status":"Succeeded","note":"Gecko, ring-tailed","operation":null},
{"request_id":94,"submitted_date":"11/29/2018","visual":"harrow2l","algo":"thards2l","resource":"file","status":"Pending","note":"Baleen whale","operation":null},
{"request_id":95,"submitted_date":"8/31/2018","visual":"tsacaze2m","algo":"kdrewery2m","resource":"database","status":"Succeeded","note":"Downy woodpecker","operation":null},
{"request_id":96,"submitted_date":"1/25/2019","visual":"dperrottet2n","algo":"bparram2n","resource":"file","status":"Canceled","note":"Galah","operation":null},
{"request_id":97,"submitted_date":"12/19/2018","visual":"aburgise2o","algo":"rswanston2o","resource":"file","status":"Canceled","note":"Golden jackal","operation":null},
{"request_id":98,"submitted_date":"1/16/2019","visual":"yculpen2p","algo":"belliston2p","resource":"file","status":"Pending","note":"Red-tailed cockatoo","operation":null},
{"request_id":99,"submitted_date":"4/27/2018","visual":"rpray2q","algo":"gstanyard2q","resource":"database","status":"Canceled","note":"Red howler monkey","operation":null},
{"request_id":100,"submitted_date":"5/12/2018","visual":"lavrasin2r","algo":"nbouette2r","resource":"file","status":"Pending","note":"Red-winged hawk (unidentified)","operation":null}])

export default {
  name: 'tables',
  components: {cTable},
  data: () => {
    return {
      items: someData,
      itemsArray: someData(),
      fields: [
        {key: 'request_id', label: 'Request ID'},
        {key: 'submitted_date', label: 'Submitted Date'},
        {key: 'name', label: 'Name'},
        {key: 'visual', label: 'Visualization'},
        {key: 'algo', label: 'Algorithm'},
        {key: 'resource', label: 'Source of Data'},
        {key: 'status'},
        {key: 'note'},
        {key: 'operation'},
      ],
    }
  }
}
</script>
